/* src/components/Projects.css */
.projects {
  max-width: 80vw;
  margin: 0 auto;
  padding: 100px 0;
}

.projects h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.project {
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project h2 {
  font-size: 27px;
  margin-bottom: 20px;
  /* color: #0071EB; */
}

.project p {
  font-size: 20px;
  line-height: 1.6;
}

.project a {
  display: inline-block;
  margin-top: 15px;
  color: #0071EB;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}


  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    /* Custom niche scrollbar styles without visible track */
    .projects {
      max-width: 95vw;
    }

    .project {
      padding: 1rem;
    }
  }