
.playground {
  /* max-width: 1000px; */
  display: flex;
  
  /* width: 100%; */
  /* height: 100%; */
  border: 10px solid red;

}


.playground h1 {
  border: 1px solid blue;
  text-align: center;
}

.playground-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; /* Solid color */
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  