.assistant {
      /* border: 1px solid red; */
      background: #ffffff;
      font-family: 'Roboto';
      color: #595959;
  }

  .banner {
    z-index: 100000000;

    position: fixed;
    left: 0;
    right: 0;
    top: 5rem;
    width: 100%;
    max-height: 16vh;

    background: rgba(255, 117, 117, 1);
    border: 1px solid rgba(255, 117, 117, 0.7);

    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;

    margin-bottom: 5rem;
    padding: 1rem;
    word-wrap: break-word;
  }

  .banner-text {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: bold;
    max-width: 70vw;
    color: #ffffff;
    /* margin: 3rem; */
  }



    /* Mobile Responsiveness */
@media (max-width: 768px) {
    /* Custom niche scrollbar styles without visible track */
    .banner-text {
      max-width: 90vw;
    }
  }
    
  