/* src/components/Home.css */
.home {
    /* background-color: #f5f5f5; */
    /* max-width: 900px;
    margin: 0 auto;
    padding: 3rem 2rem; */

    max-width: 75vw;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;

    /* padding: 3.5rem 2rem; */
  }
  
  .profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-bottom: 30px; */
  }
  
  .home .hero h1 {
    font-size: 48px;
    margin: 20px 0;
  }
  
  .home .hero p {
    font-size: 20px;
    max-width: 95vw;
    margin: 0 auto 30px;
    padding: 2rem;
    line-height: 1.6;
  }
  
  .interactive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .interactive-button {
    background-color: #0071EB;
    text-decoration: none;
    color: #ffffff !important;
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 120px;
    margin: 15px 5px;
    transition: transform 0.2s ease;
  }

  .interactive-button:hover {
    animation: jump 0.5s ease;
  }

  @keyframes jump {
    0% { transform: translateY(0); }
    30% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    /* Custom niche scrollbar styles without visible track */
    .home {
      max-width: 90vw;
    }
  }
    