/* src/App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(130deg, rgba(210, 240, 255, 1) 0%, rgba(190, 220, 255, 0.9) 60%, rgba(245, 90, 90, 0.2) 100%);
  color:#2c2c2c;
}

.content {
  min-height: calc(100vh - 70px);
}

footer {
  background-color: #1f232a;
  color: white;
  text-align: center;
  padding: 15px 0;
}
